<form>
    <div class="form-group">
        {{input type="text" class="form-control input-lg" id="resourceTitle" value=work.title placeholder="Enter title"}}
    </div>
    <div class="form-group">
        <label for="resourceBody">Details</label>
        {{textarea class="form-control" id="resourceBody" value=work.body}}
    </div>
</form>
