<div class="checkbox">
    <label>
        {{input type="checkbox" action=frop checked=task.isCompleted}} {{task.title}}
        {{#if date}}
        <br>
        <small>{{date}}</small>
        {{/if}}
        {{show-priority task.priority}}

    </label>
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
</div>
