<h2>{{model.title}}</h2>
<div class="row">
    <div class="col-md-12">
        {{model.body}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{#link-to "goals.goal.resources.resource.edit" model.id}}
            <a class="btn btn-default pull-right">Edit</a>
        {{/link-to}}
        <button class="btn btn-danger pull-right" {{action "deleteResource"}}>Delete</button>
    </div>
</div>
