.selection-link .pointer {
  float: right;
  display: none;
}

.selection-link.active .pointer {
  display: block;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.task-listitem > div {
    display: flex;
    flex-direction: row;
}
