<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
                <div class="navbar-inner">
                        {{#link-to 'application' class="navbar-brand"}}GAP{{/link-to}}
                        <ul class="nav navbar-nav">
                                <li>{{#link-to 'goals'}}Goals{{/link-to}}</li>
                        </ul>
                </div>
        </div>
</div>

{{outlet}}
