<div>
  <ul class="nav nav-tabs" role="tablist">
        {{#link-to 'goals.goal.tasks' tagName='li'}}<a>Tasks</a>{{/link-to}}
        {{#link-to 'goals.goal.resources' tagName='li'}}<a>Resources</a>{{/link-to}}
        {{#link-to 'goals.goal.edit' tagName='li' class="pull-right"}}<a>Edit</a>{{/link-to}}
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
        {{outlet}}
    </div>
  </div>
</div>
