<div class="list-group">
    <div class="list-group-item">
        {{input type="text" class="new-task" placeholder="New Task" value=newTask}}
        <button class="btn btn-primary btn-sm new-artist-button" {{action "createTask"}}
                {{bind-attr disabled=disabled}}>Add</button>
    </div>
</div>
{{#each model.tasks as |task|}}
    <div class="list-group-item">
        {{task.title}}
    </div>
{{/each}}

