<div class="container-fluid">
        <div class="row">
          <!-- blog post listing -->
                <div class="col-xs-5">
                  <button {{action 'createGoal'}}>Create</button> {{input type="text" value=query placeholder="Filter Posts" autofocus="autofocus"}}
                        <table class='table'>
                                <thead>
                                        <tr><th>Recent Goals</th></tr>
                                </thead>
                                <tbody>
                                {{#each arrangedContent as |goal|}}
                                <tr><td>
                                        {{#link-to 'goal' goal.id}}
                                                {{goal.title}}
                                        {{/link-to}}
                                </td></tr>
                                {{/each}}
                                </tbody>
                        </table>
                </div>

                <!-- blog post content -->
                <div class="col-xs-7">
                        {{outlet}}
                </div>
        </div>
</div>
